.profile{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profwrap{
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.route{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding-top: 20px;
    padding-left: 10px;
}

.nav{
    text-decoration: none;
    font-size: 24px;
    color: whitesmoke;
}

.nav:active{
    color: gold;
}

.laet{
    color: white;
}

.wrappost{
    margin-left: 30px;
    margin-bottom: 30px;
}

.foot{
    margin-left: 10px;
    padding-bottom: 50px;
}

.foot h6{
    color: whitesmoke;

}

.wrapper{
    margin-left: 20px;
}

.nick{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.nick h1{
    font-size: 16px;
    color: white;
}

.nick span{
    font-size: 12px;
    color: white;
}
.po{
    border-radius: 15px;
}
.imgh{
    border-radius: 50px;
}

.btn{
    border-radius: 5px;
    background: moccasin;
    color: red;
}